@font-face {
    font-family: 'Maza';
    src: url('Maza.woff2') format('woff2'),
        url('Maza.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tenor Sans';
    src: url('TenorSans.woff2') format('woff2'),
        url('TenorSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

